@page "/importdata"

<PageTitle>Soil Classifier Import</PageTitle>
<div class="fileInputContainer">
    <h1>Import Data</h1>
    <InputFile OnChange="@LoadFiles" />
    <button class="btn btn-primary">Import Data</button>
</div>


@code {
    private int currentCount = 0;

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        currentCount++;
    }
}
