@page "/"

<PageTitle>Soil Classifier</PageTitle>

<section>
    <h1>Soil Classifier</h1>
    <div>Please enter the below values of your sample to classify it.</div>
    <div class="inputGroup">
        <div class="inputContainer">
            <label>Percentage of fine (&lt;0.075mm) material</label>
            <input type="text" />
        </div>
        <div class="inputContainer">
            <label>Percentage of gravel (&gt;2.36mm) material</label>
            <input type="text" />
        </div>
        <div class="inputContainer">
            <label>Plastic Limit (%)</label>
            <input type="text" />
        </div>
        <div class="inputContainer">
            <label>Liquid Limit (%)</label>
            <input type="text" />
        </div>
    </div>
    <button class="calcButton">Calculate</button>
</section>
